body h3 {
    text-align: center;
}

body li {
    text-align: center;
    text-decoration: none;
}

body {
    background-color: grey;
}

img {
    text-align: center;
}

h1 {
    text-align: center;
}